---
import { frontmatter, Content } from "@content/about/index.md";
import { SITE } from "@config";
import type { SocialItem } from "@types";
import Links from "@components/Links.astro";
import FlipImage from "@components/FlipImage.astro";
import Layout from "@layouts/Layout.astro";

import { frontmatter as projectsFrontmatter } from "@content/projects/index.md";
import Project from "@components/Project";

// Collect all projects from all categories
const allProjects = Object.values(projectsFrontmatter.projects).flat();
const pinnedProjects = allProjects.filter((p) => p.pinned);

interface Frontmatter {
  name: string;
  subname?: string;
  avatarFront?: string;
  avatarBack?: string;
  tltr?: string;
  socials: SocialItem[];
}

const { name, subname, avatarFront, avatarBack, tltr, socials } =
  frontmatter as Frontmatter;
---

<Layout class="about" title={`About - ${SITE.title}`}>
  {
    avatarFront && (
      <div class="size-30 ml-auto mb-4 mr-1 rotate-3" sm="size-40 -mb-20 mr-2">
        <FlipImage front={avatarFront} back={avatarBack} alt="avatar" />
      </div>
    )
  }

  <h3 my-0 text-fg-light>Hello, this is</h3>

  <h1 my-1.5>
    {name}
    {subname && <font text="base fg-light"> ({subname})</font>}
  </h1>

  {
    tltr && (
      <h5 mb-4 text-fg-light>
        {tltr}
      </h5>
    )
  }

  <Links socials={socials} />
   <section>
   <div>  <h2> Bio </h2>

    I am a Data science undergraduate in the school of <a href="https://inspiria.edu.in/degree-courses/school-of-computer-science/">Computer Science and Application</a> at <a href="https://makautwb.ac.in/">MAKAUT.</a> 
    My current work  focuses on AI solutions for inventory,agriculture and services management. Generative AI and Agents are the other domains where i am side-kicking experiments, projects ,tools and research.
      <p>
        
      </p>  
   </div>
    <div>


        By the way, take a look at <a href="/projects">some things</a> I've built as DS undergard and indie developer, first featuring my <a href="https://portfolio.prabin.me">interactive portfolio </a>- a macos themed interactive portfolio showcasing my works and skills.
    <h2>Pinned Projects <span text-base>(see the <a href="/projects">full list</a>)</span></h2>
    </div>
    <div grid="~ cols-1 sm:cols-2 gap-2" py-2>
      {pinnedProjects.map((project) => (
        <Project client:load project={project} />
      ))}
    </div>
  </section>

  <Content />

 
</Layout>
